# ======================== Elasticsearch Configuration =========================
# =========== Created by Ansible, manual changes will be overwritten ===========
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
cluster.name: {{ es_cluster_name }}
#
# ------------------------------------ Node ------------------------------------
#
node.name: {{ ansible_hostname }}
#
#node.attr.rack: r1
#
# ----------------------------------- Paths ------------------------------------
#
path.data: {{ es_data_dir }}
#
path.logs: {{ es_log_dir }}
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
bootstrap.memory_lock: true
#
# ---------------------------------- Network -----------------------------------
#
network.host: {{ ansible_default_ipv4.address }}
#
# --------------------------------- Discovery ----------------------------------
#
discovery.seed_hosts:
{% for host in groups['k8s_elasticsearch'] %}
  - {{ hostvars[host]['ansible_hostname'] }}
{% endfor %}
#
cluster.initial_master_nodes:
  - {{ hostvars[groups['k8s_elasticsearch'][0]]['ansible_hostname'] }}
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
gateway.recover_after_nodes: 1
#
# For more information, consult the gateway module documentation.
#
# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
action.destructive_requires_name: true

