#!/bin/bash
#
# Shell script: install_rancher.sh
#
# Install Rancher (and below requisites) using Helm chart.
#   * create required namespaces
#   * add required Helm repositories
#   * install cert-manager
#

#
# Script variables
#
CERT_MGR_VER="v{{ cert_manager_version }}"
RANCHER_VERSION="v{{ rancher_version }}"
RANCHER_LB_URL="{{ rancher_lb_url }}"

#
# Creates namespaces only if they don't exist already.
#
function create_namespace() {
  local namespace=$1
  local get_cmd="kubectl get namespace $namespace"

  if $get_cmd; then
    echo "** Namespace $namespace already exists."
    return 1
  else
    echo "** Creating namespace $namespace"
    kubectl create namespace "$namespace"
  fi
}

#
# Adds Helm repo and updates repos. Adding Helm repo does not error out if one
# already exists. So check is not performed before adding.
#
function helm_repo_add() {
  local repo_name=$1
  local repo_url=$2

  echo "** Adding and updating $repo_name Helm repo"
  helm repo add "$repo_name" "$repo_url"
  helm repo update
}

#
# Check if a particular Helm release exists in the given namespace. If such a
# release does not exist, returns 0, so one can be created.
#
function check_helm() {
  local release_name=$1
  local namespace=$2
  local get_cmd="helm status $release_name -n $namespace"

  if $get_cmd; then
    echo "** Helm release $release_name already exists."
    return 1
  else
    echo "** Creating Helm release $release_name"
    return 0
  fi
}

#
# Install cert-manager
#

echo "** Installing cert-manager"

create_namespace "cert-manager"

kubectl apply --validate=false -f "https://github.com/jetstack/cert-manager/releases/download/$CERT_MGR_VER/cert-manager.crds.yaml"

helm_repo_add "jetstack" "https://charts.jetstack.io"

check_helm "cert-manager" "cert-manager"
FUNC_RET=$?

if [[ "$FUNC_RET" -eq 0 ]]; then
  helm install cert-manager jetstack/cert-manager --namespace cert-manager --version "$CERT_MGR_VER"
fi

/usr/bin/sleep 30

#
# Install Rancher
#

echo "** Installing Rancher"

create_namespace "cattle-system"

helm_repo_add "rancher-stable" "https://releases.rancher.com/server-charts/stable"

check_helm "rancher" "cattle-system"
FUNC_RET=$?

if [[ "$FUNC_RET" -eq 0 ]]; then
  helm install rancher rancher-stable/rancher --namespace cattle-system --set hostname="$RANCHER_LB_URL" --version "$RANCHER_VERSION"
fi

