[Unit]
Description=jenkins-swarm service
After=network.target

[Service]
Type=simple
User={{ jenkins_user }}
ExecStart=/bin/java -jar {{ jenkins_home }}/tools/{{ jenkins_swarm_client_jar }} -master http://{{ jenkins_master_ip }}:8080 -name {{ ansible_hostname }}-{{ jenkins_agent_label }} -labels "{{ jenkins_agent_label }}" -deleteExistingClients -disableClientsUniqueId -fsroot {{ jenkins_home }}/jenkins-agent -username {{ jenkins_master_username }} -password '{{ jenkins_master_api_token }}'

Restart=on-abort

[Install]
WantedBy=multi-user.target