global_defs {
  # Keepalived process identifier
  router_id nginx
  enable_script_security
}

# Script to check whether Nginx is running or not
vrrp_script check_nginx {
  script "/usr/sbin/pidof nginx"
  interval 2
}

# Virtual interface - The priority specifies the order in which the assigned interface to take over in a failover
vrrp_instance VI_01 {
{% if ansible_hostname in groups['rke_loadbalancer'][0] %}
  state MASTER
  priority 110
{% else %}
  state BACKUP
  priority 100
{% endif %}
  interface {{ ansible_default_ipv4['interface'] }}
  virtual_router_id 151

  # The virtual ip address shared between the two NGINX Web Server which will float
  virtual_ipaddress {
    {{ virtual_ip }}
  }
  track_script {
    check_nginx
  }
  authentication {
    auth_type PASS
    auth_pass secret123
  }
}

