# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections {{ nginx_worker_conns }};
}

# This server accepts all traffic to port 80, 443 and 6443 and passes it to the
# upstream. Notice that the upstream name and the proxy_pass need to match.

stream {
    upstream rancher_http {
        least_conn;
      {% for host in groups['rke_cluster'] %}
        server {{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}:80 max_fails=3 fail_timeout=5s;
      {% endfor %}
    }
    server {
        listen 80;
        proxy_pass rancher_http;
    }

    upstream rancher_https {
        least_conn;
      {% for host in groups['rke_cluster'] %}
        server {{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}:443 max_fails=3 fail_timeout=5s;
      {% endfor %}
    }
    server {
        listen 443;
        proxy_pass rancher_https;
    }

    upstream rancher_api {
        least_conn;
      {% for host in groups['rke_cluster'] %}
        server {{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}:6443 max_fails=3 fail_timeout=5s;
      {% endfor %}
    }
    server {
        listen 6443;
        proxy_pass rancher_api;
    }
}
