nodes:
{% for host in groups['rke_cluster'] %}
  - address: {{ hostvars[host]['ansible_default_ipv4']['address'] }}
    user: {{ ansible_user }}
    role:
      - controlplane
      - worker
      - etcd
    hostname_override: {{ host }}
{% endfor %}
services:
  etcd:
    snapshot: true
    creation: {{ rancher_etcd_backup_interval }}
    retention: {{ rancher_etcd_backup_retention }}
ingress:
  provider: nginx
  options:
    use-forwarded-headers: "true"
authentication:
    strategy: x509
    sans:
      - "{{ rancher_lb_url }}"
